<% if user_signed_in? %>
  Hello <%= current_user.full_name %>
  <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "btn btn-default" %>
<% else %>  
  <%= link_to "sign in", new_user_session_path, class: "btn btn-default" %>
<% end %> 
 


<h1>Tickety!</h1>
<br>
<%= link_to "Create new ticket", new_ticket_path, class: "btn btn-info" %>
<hr>
<% @tickets.each do |t| %>
  <p><b> <%= link_to t.title, t %> </b></p>
  <p> <%= t.description %> </p>
  <p> <%= User.where(t.user_id).first_name%> </p>
  <hr>
<% end %>